//**************************/
//*  Current theme colors  */
//**************************/

// BackGrounds
$base: #1c1c1c;
// Destac colors
$highlight: #68C7FF;
// Font colors 
$font: #F0E7DA;
// Border radius 
$defalt-radius: 10;
