//**************************/
//*  Current theme colors  */
//**************************/

// BackGrounds
$base-color: #0D1212;
// Destac colors
$destac-color: #FF6563;
// Font colors 
$font-color: #EBE1CD;
// Border radius 
$defalt-radius: 10;
